In [1]:
import pandas as pd
import numpy as np

## Assignment 1: Series Basics  

The code has been provided to create an array , ```oil_array``` from a dataframe column.

- Convert ```oil_array``` into a Pandas Series , called ```oil_series```. Give it a name!
- Return the name , dtype , size, and index of ```oil_series```.

Take the mean of the values array.

Then , convert the series to integer datatype and recalculate the mean.

In [2]:
# create a DataFrame from the oil file,  drop missing values
oil = pd.read_csv("../DATASETS/oil.csv").dropna()

# Grab 100 rows of oil prices.
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [3]:
# converting the given array as pd series

oil_series = pd.Series(oil_array  ,  name="crud_oil")

oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: crud_oil, Length: 100, dtype: float64

In [4]:
# Name , dtype , size , index

print("Name : " ,oil_series.name)
print("dtype : ", oil_series.dtype )
print("size : ",oil_series.size)
print("index : ",oil_series.index)

Name :  crud_oil
dtype :  float64
size :  100
index :  RangeIndex(start=0, stop=100, step=1)

In [5]:
# mean value (float)

print(f"The mean value of oil_series with float - {oil_series.mean():.2f}")

The mean value of oil_series with float - 51.13

In [6]:
# mean value (int)

print(f"The mean value of oil_series with int - {oil_series.astype("int").mean():.2f}")

The mean value of oil_series with int - 50.66

## Assignment 2 : Accesssing Series Data

Set the date series , which has been created below, to be the indexx of the oil price series created in assignment 1.

Then , take the mean of the first 10 and last 10 prices of the series.

Finally , grab all oil prices from January 1st , 2017 - January 7th , 2017 (inclusive) and set the index to the default integer index.

In [8]:
dates = oil["date"].iloc[1000:1100]

dates

1035    2016-12-20
1036    2016-12-21
1037    2016-12-22
1038    2016-12-23
1040    2016-12-27
           ...
1135    2017-05-09
1136    2017-05-10
1137    2017-05-11
1138    2017-05-12
1139    2017-05-15
Name: date, Length: 100, dtype: object

In [9]:
oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: crud_oil, Length: 100, dtype: float64

In [10]:
oil_series.index= dates

oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: crud_oil, Length: 100, dtype: float64

In [13]:
# Take mean of first 10 
# using .head()
oil_series.head(10).mean()

np.float64(52.765)

In [15]:
# using .iloc[]
oil_series.iloc[:10].mean()

np.float64(52.765)

In [16]:
# take mean of last 10 
# using .tail()

oil_series.tail(10).mean()

np.float64(47.13)

In [19]:
# using .iloc[]

oil_series.iloc[-10:].mean()

np.float64(47.13)

In [22]:
oil_series.loc["2017-01-2017":"2017-07-2017"].reset_index(drop=True)

0     52.77
1     52.38
2     52.14
3     53.24
4     53.18
      ...
74    45.84
75    47.28
76    47.81
77    47.83
78    48.86
Name: crud_oil, Length: 79, dtype: float64