# The ILOC Method

The .iloc[] method is prefered way to access values by their positional index
- This method works even when Series have a custom , non-integer index
- It is more efficient than slicing and is recommended by Panda's creators.

``` df.loc[row label, column label] ```

df.iloc is used to access values based on their integer-location (position) within a Series or DataFrame.
It takes two arguments: 
- row position and column position.The row position can be a single integer (e.g., 0 for the first row) 
- a list of integers for multiple rows (e.g., [5, 9])
- a slice for a range of rows (e.g., [0:11]).

In [1]:
import pandas as pd
import numpy as np

In [5]:
my_series = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])

my_series

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [6]:
my_series.iloc[1]

np.int64(20)

In [8]:
# we can pass a list of indices we want to extract
my_series.iloc[[1,2,3]]

b    20
c    30
d    40
dtype: int64

# The LOC Method

The .loc

``` df.loc[row label, column label] ```

df.loc:

This is a label-based indexer used to select data by row and column labels (or boolean arrays).

Series or DataFrame to access values from:

This indicates that df refers to either a Pandas Series or a DataFrame object from which you want to retrieve data.

The custom row index for the value(s) you want to access:

This specifies that the first argument within the square brackets (row label) is used to select rows based on their custom labels.
#### Examples of row label selection:
- "pizza": Selects a single row with the label "pizza".
- ["mike", "ike"]: Selects multiple rows with the labels "mike" and "ike".
- ["jan":"dec"]: Selects a range of rows from "jan" to "dec" (inclusive).
#### column label:
The second argument within the square brackets is used to select columns based on their labels.

In [9]:
my_series = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])

my_series

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [10]:
my_series.loc['a':'c']

a    10
b    20
c    30
dtype: int64

In [11]:
my_series.index = [ 0 , 2, 3 , 100 , 5]

In [12]:
my_series

0      10
2      20
3      30
100    40
5      50
dtype: int64

By default, reset_index() will keep the old index as a column.

But if you use drop=True, it tells Pandas to discard the old index completely.

In [13]:
my_series.reset_index(drop=True).loc[:3]

0    10
1    20
2    30
3    40
dtype: int64

### DUPLICATE INDEX VALUES
It is possible to have duplicate index values in a Pandas Series or DataFrame
- Accessing these indices by their label using .loc[] returns all corresponding rows.

In [2]:
my_series = pd.Series([10, 20, 30, 40, 50] , index=["Day 0", "Day 0" , "Day 0" , "Day 2" , "Day 2"])

my_series

Day 0    10
Day 0    20
Day 0    30
Day 2    40
Day 2    50
dtype: int64

In [3]:
my_series["Day 0"]

Day 0    10
Day 0    20
Day 0    30
dtype: int64

We are reciving data of duplicate index ,  so the solution for this is to reset the index values.

In [8]:
my_series.reset_index(drop=True).iloc[2:4]

2    30
3    40
dtype: int64

In [9]:
my_series.reset_index(drop=True).loc[2:4]

2    30
3    40
4    50
dtype: int64